body {
    background-color: lightgray;
}

.container {
    background-color: white;
    width: 50vw;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px gray;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    height: 40px;
    border-radius: 5px;
}

#list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}